.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.checkboxs{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.blk1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goals{
    text-align: center;
    background-color: rgb(222, 222, 222);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.interests{
    text-align: center;
    background-color: rgb(222, 222, 222);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}