.feedback{
    padding: 20px;
    width: 100vh;
    height: 50vh;
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.textarea{
    height: 00px;
}